services:
  # 1. Datenbank
  rezept_db:
    image: postgres:15
    container_name: rezept_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rezept_db
    ports:
      - "5432:5432"
    volumes:
      # ÄNDERUNG: Speichert jetzt lokal in deinem Ordner ./data/postgres
      - ./data/postgres:/var/lib/postgresql/data
    restart: always

  # 2. KI (Auskommentiert, aber Pfad für Zukunft angepasst)
  # ollama:
  #   image: ollama/ollama:latest
  #   container_name: rezept_ai
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     # ÄNDERUNG: Würde in ./data/ollama speichern
  #     - ./data/ollama:/root/.ollama
  #   environment:
  #     - OLLAMA_HOST=0.0.0.0
  #     - OLLAMA_KEEP_ALIVE=5m 
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 7G 
  #       reservations:
  #         memory: 4G
  #   restart: always

  # 3. Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: homechef_backend
    ports:
      - "3005:3000" # Erreichbar unter Port 3005
    depends_on:
      - rezept_db
      # - ollama
    environment:
      - DATABASE_URL=postgresql://user:password@rezept_db:5432/rezept_db?schema=public
      # - OLLAMA_URL=http://ollama:11434/api/generate
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    restart: always