@tailwind base;
@tailwind components;
@tailwind utilities;

/* NEU: Globaler Hintergrund */
@layer base {
  body {
    @apply bg-brand-teal text-text-default; /* Hintergrund & Standard-Textfarbe */
  }
}