@import '../../packages/ui/src/build/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: var(--color-scooty-gray-200);
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    --sab: env(safe-area-inset-bottom);
    --sat: env(safe-area-inset-top);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
  }

  body {
    background-color: var(--color-white);
    color: var(--color-content-text-default);
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }
  .min-h-screen-safe {
    min-height: calc(100dvh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
}

.overscroll-contain {
  overscroll-behavior-y: contain;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
